#ID_ContainerBOX {
    -fx-background-color: black;
}

#ID_ContainerMain {
    -fx-background-color: #D5D6DC;
}

#ID_Progress {
    -fx-background-color:#434343;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.progress-bar .track {
    -fx-background-color: #d3d3d3;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #434343, #F2D022);
}

#progressLabel {
    -fx-text-fill: white;
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}