#ID_ContainerBOX {
    -fx-background-color: black;
}

#ID_ContainerMain {
    -fx-background-color: #F2F2F2;
    -fx-background-radius: 6px;

}

#ID_Progress {
    -fx-background-color:#434343;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
}


.progress-bar .track {
    -fx-background-color: #d3d3d3;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, #434343, #F2D022);
}

#progressLabel {
    -fx-text-fill: white;
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#minimizeButton, #CloseButton , #CardsBox, #Transactions, #ClientsBox, #RetornButton, #IDSendInfo, #IDBack, #ComeBack, #IDSave, #IDSave1, #IDSave2{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

#CardsBox , #Transactions, #ClientsBox{
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
    -fx-background-color: #A63838;
    -fx-text-fill: white;
}

#CardsBox:hover , #Transactions:hover, #ClientsBox:hover{
    -fx-background-color: #FF6366;
}

#minimizeButton:hover , #CloseButton:hover{
    -fx-background-color: #BFBFBF;
}

#Separator {
    -fx-background-color: #9CA6A5;
}

#PropertyTitle , #Property_viewTitle, #PropertyDanger, #property, #property1, #property3, #property4{
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

#Property_Welcome, #Title, #PropertyReports , #TitleCards{
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 45px;
    -fx-font-weight: bold;
}

#IDSendInfo {
    -fx-background-color: #09A603;
    -fx-font-family: "Baskerville Old Face" , "Britannic Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-text-fill: white;
}

#IDSave, #IDSave1, #IDSave2 {
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-background-color: #263DBF;
    -fx-text-fill: white;
}


#IDSave:hover, #IDSave1:hover, #IDSave2:hover {
    -fx-background-color: #09A603;
}

#IDSendInfo:hover {
    -fx-background-color: #5F72D9;
}

#IDBack, #ComeBack {
    -fx-font-family: "Baskerville Old Face", "Britannic Bold";
    -fx-font-size: 15px;
}